<ul>
  <li><%= link_to "List of All goods", goods_path %></li>
  <li><%= link_to "List of all users", staffs_path %></li>
  <li><%= link_to "Add good", new_good_path %></li>
  <% if current_staff.super_admin? %>
    <li><%= link_to "Add User", create_path %></li>
  <% end %>
</ul>