
<%= will_paginate @staffs  %>
  <ul>
    <% @staffs.each do |staff| %>
      <li>
        <%= link_to staff.name, staff %>
      </li>  
      <%= link_to "Delete staff", delete_staff_path_url(id: staff.id), method: :delete %>
    <br />
  </ul>
  <% end %>
<%= will_paginate %>