<%= will_paginate @goods %>
  <% @goods.each do |g|  %>
    <%= link_to g.title, g %>
    <% if g.image.attached? %>
      <p>
        <strong>Image:</strong>
        <%= image_tag g.image %>
      </p>
    <% end %>
  <% end %>
